<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jckj.materialmanagement.mapper.DictMapper">

    <select id="selectDictListByType" resultType="com.jckj.materialmanagement.model.Dict">
        SELECT * FROM `m_dict` where COMPANY_ID = 0 and TYPE in
        <foreach collection="types" item="type" open="(" close=")" separator=",">
            #{type}
        </foreach>
    </select>
</mapper>
