<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jckj.materialmanagement.mapper.InStorageInfoMapper">

    <select id="selectTodayInStore" resultType="com.jckj.materialmanagement.model.InStorageInfo">
        SELECT * FROM `m_in_storage_info` WHERE INSERT_TIME <![CDATA[ >= ]]>str_to_date(#{insertTime,jdbcType=VARCHAR}, '%Y-%m-%d') ;
    </select>

</mapper>
