<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jckj.materialmanagement.mapper.UserMapper">

    <select id="selectByTelephone" resultType="com.jckj.materialmanagement.model.User">
        select ID,USER_NAME,TEL_PHONE,USER_ACCOUNT,USER_PASSWORD FROM m_user where TEL_PHONE = #{telepbone} AND ACTION != 2 ;
    </select>
</mapper>
